.listIng{
    margin-bottom: 20px;
    overflow: hidden;
}
.listIng > li{
    line-height: 1.5em;
    float: left;
    width: 50%; 
    color: rgb(97, 94, 94);
    padding-right: 4px; 
    cursor: pointer;
}
.listIng > li:hover{
    text-decoration: line-through;
    text-decoration-color: red;
}
.add-bttn{
    background-color: #abced4;
    color: white;
    border-color: black ;
}
.paperPattern{
    min-width: 256px;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 20px, #abced4 20px, #abced4 22px, transparent 22px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border-color:#eee;
}
.minHeight{
    min-height: 300px;
}